 <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>This is Home</h1>
<form action='/about' method='get'>
    <textarea name='text'> </textarea><br>
    <input type="checkbox" name="RemovePunctions">RemovePunctions</input> <br>
    <input type="checkbox" name="Capitalizefirst">Capitalizefirst</input> <br>
    <input type="checkbox" name="NewLineRemove">NewLineRemove</input> <br>
    <input type="checkbox" name="SpaceRemove">SpaceRemove</input> <br>
    <input type="checkbox" name="Charcount">Charcount</input> <br>
    <button type="submit">submit</button>
</form>
</body>
</html> 

