{% extends 'base.html' %}

{% block title %}About{% endblock title %}
<style>
</style>
{% block body %}
<!--Dadu Carousel -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/images/dadu.JPG" class="d-block w-100" alt="about">
      <div class="carousel-caption" style="position:absolute;bottom:11rem;">
        <a href="#story"><button type="button" class="button"style="position:absolute;top:20rem;left:20rem">Singh's Story</button></a>
        <a href="#difference"><button type="button" class='bt2' style="position:absolute;top:20rem;right:20rem;">Singh's Difference</button></a>
        <h3 style="font-size: 6.5vw;color: #fff !important;font-family: inherit;font-weight: 700;line-height: 1.1;text-transform: uppercase;">singh's story</h3>
        <p style="font-size: 4.5vw;color: #fff  !important;font-family: inherit;font-weight: 700;line-height: 1.1;text-transform: uppercase;">From 1950's</p>
      </div>  
    </div>
  </div>
</div>

<!--Singh's Story-->
<a name="story"></a>
<div class="container-fluid d-flex"  style="background-color: #fff;">
  <div><br><br><br>
    <img src="static/images/story.jpg" style="height:35rem;width:36rem;margin-left:5rem;border:5px solid #ff8095;">
  </div>
  <div style="width:33rem;margin-left:11rem;text-align:justify;font-family: brandon-grotesque,Helvetica,Arial,sans-serif;color: #6c3f21;">
    <p style="font-size:1.8vw;line-height:1.4;"><br><br>Singh's Bakery’ founder,<span class="color-red"> Saurav Singh</span>, grew up in Indore, where he was called <span class="color-red">Gomzii</span> by his beloved Grandfather, Shri Krishna Singh.</p>
    <p class="story-same-text"> Every day Saurav would come home from school to enjoy his Grandfather’s company over a glass of milk and a fresh baked treat. This daily baking ritual and special time together in the kitchen left a lasting impression. When Saurav grew up to become Singh's and moved to the West Coast, he brought along his Grandfather’ carefully recorded recipes on handwritten 3×5 cards. The pure and simple connection those recipes fostered helped Saurav form Singh's bakeries to share his experience with others.</p>
    <p class="story-same-text">Through Singh's Bakery, Saurav honors Krishna: in his dedication to their baking traditions, and his commitment to providing everyone with progressive careers in the food & hospitality industry.</p>
    <i><p class="story-same-text">“You most likely recall a cake as part of your life’s milestone celebrations. Cake has the unique ability to connect us with the people and events of our past. However, cake should not be reserved only for these special occasions. A delicious slice of cake can immediately bring a bit of celebration to an ordinary day. I hope you enjoy Singh's Bakery on your special occasions, as well as all the days in between.”</p></i><br>
    </div>
</div>


<!--Singh's Difference -->
<a name="difference"></a>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/images/difference.JPG" class="d-block w-100" alt="about">
      <div class="carousel-caption" style="position:absolute;bottom:6rem;">
        <h3 style="font-size: 6.5vw;color: #fff !important;font-family: inherit;font-weight: 700;line-height: 1.1;text-transform: uppercase;">singh's Difference</h3>
      </div>  
    </div>
  </div>
</div>

<div class="container-fluid py-5" style='background-color:#fff'>
  <p style='width:50rem;text-align:center;margin-left:23rem;font-family:Century Gothic;font-size:1.8vw;color:#6c3f21;line-height:1.9'>If you can’t spell it, we don’t bake with it.Just like our grandmothers, we do not use any mixes, artificial preservatives, or shortening in our products. We bake our products from scratch using only the freshest and finest ingredients. </p>
</div>
{% endblock body %}